<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Doctors login</title>
  <link rel="stylesheet" href="css/patient-login.css">
</head>
<body>
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>          
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="SIGN UP & SIGN IN PAGE.css"><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <div class="container a-container" id="a-container">

        <form class="form" id="a-form" method="post" action="/doctors_login">
            <img src="images/newlogo.jpg" alt="" width="100px" height="100px">
          <h2 class="form_title title">Login</h2>
         
          <input class="form__input" type="text" placeholder="User ID" name ="email">
          
          <input class="form__input" type="password" placeholder="Password" name="password">
          <button class="form__button button switch-btn" type='submit' name ="signup">LOGIN</button>
          <a href="doctors_register.ejs"><p style="margin-top: 10px;font-weight: bold;color:red">Register for doctor</p></a>
          
          
        </form>
      </div>
      
    <div class="switch" id="switch-cnt">
        <div class="finger" style="display:flex;flex-direction: column;">
            <img src="images/345.jpg" width="250" height="240" style="border-radius: 100px;margin-left: 20px;margin-top: 70px;" alt="">
            <a href="finger_print3.ejs">
            <button class="form__button button switch-btn" style="margin-left: 50px;" type='submit' name ="signup">BIOMETRIC</button>
        </a>
        </div>
      
      </div>
    
  </body>
</html>
 
</body>
</html>